<!DOCTYPE html>
<html>
<head>
        <link href="http://fonts.googleapis.com/css?family=Bitter:400,700";>
    {% block head %}
        <link rel="stylesheet" url="src/ToDo/EventBundle/Resources/views/style.css" />
    {% block javascripts %}
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script>
            $(document).ready(function () {
            var count = 1;
                $("#add").on("click", function() {
                    $('#list').append('<li>Sh*t to do '+ count+'<button class="check" type="checkbox"></li>');
                    count++;
                })
                //if ( $('#list ul li').length > 1 ) {}
            });

            </script>
    {% endblock %}


            <title>{% block title %}{% endblock %} To Do List</title>
    {% endblock %}


        <style>
                body {
                background: #222;}


                h1 {
                        margin: 50px auto;
                        text-align: center;
                        text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
                        color: #444;
                        opacity: 0.4;
                        font: 700 80px 'Bitter';

                }

                h2 {
                        margin: 50px auto;
                        text-align: center;
                        text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
                        color: #444;
                        opacity: 0.4;
                        font: 200 60px 'Bitter';
                }

                h3 {
                    margin: 50px auto;
                    text-align: center;
                    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
                    color: #444;
                    opacity: 0.4;
                    font: 200 60px 'Bitter';
                }

                footer{
                        margin:50px auto;
                        margin-left: 0px;
                        color:white;

                }

                li {
                        display:block;
                        margin:auto;
                        text-align:center;
                        padding: 20px 20px 20px 20px;
                        width: 20%;
                        border: 1px solid whitesmoke;
                        color:whitesmoke;
                        text-decoration: none;
                }
                button {
                        display: block;
                        height:auto;
                        margin:auto;
                        padding: 0px 15px 10px 15px;
                        font: 200 60px 'Bitter',serif;
                        line-height: 1.8;
                        background-color: #223;
                        box-shadow: inset 0 0 0 1px #27496d;
                        border: none;
                        border-radius: 15px;
                }

                .add:hover {
                        background-color: #fff;
                }

                .check{
                        position:relatve;
                        height: 30px;
                        float: right;
                        margin-top:10px;
                        transform: translateY(-50%);
                }

                .check:hover{
                        background:greenyellow;
                }




        </style>
</head>
<body>
<h1 color="red"> Super Awesome To Do List </h1>
<button class='add' id="add">
        <h2>Add New Sh*t</h2>
</button>
<br><br>
<ul id="list">



</ul>
<br><br>
<div id="content">{% block content %}{% endblock %}</div>

    {% block footer %}
      <footer>  <h3>No tasks?! Get a beer!</h3></footer>
    {% endblock %}

</body>

</html>
